replicaCount: 2

image:
  repository: bludivehub/bluinsights-frontend-service
  tag: v3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70


resources: {}

nodeSelector: {}

tolerations: []

affinity: []
 
