apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "comment-service.fullname" . }}
  labels:
    app: {{ include "comment-service.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "comment-service.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "comment-service.name" . }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          volumeMounts:
            - name: sqlite-data
              mountPath: {{ .Values.persistence.mountPath }}
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:                                                                                                       
              cpu: 300m                                                                                                   
              memory: 256Mi
                                                
      volumes:
        - name: sqlite-data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}
 
